extends layout
block content
  //-script(src='http://127.0.0.1:3000/build/recorder.js')
  a(href=bookmarkletSource) Ruadan - Load
  br
  a(href="javascript: window.ruadanRecorder.startRecording(document.title, window.location.hostname, true);") Ruadan - Record
  br
  a(href="javascript: window.ruadanRecorder.startRecording(document.title, window.location.hostname, false);") Ruadan - Continue
  br
  a(href="javascript: window.ruadanRecorder.stopRecording();") Ruadan - Stop
  p Edit in <span>ruadan/views/index.jade</span>
