doctype html
html
  head
    style.
        #themouse {
            position: fixed;
            width: 12px;
            height: 20px;
        }
        #circle-animation
        {
          position: absolute;
          z-index: 10000;
          -webkit-animation: ripple 1.0s ease-out;
          border-radius: 100%;
          border: 3px solid red;
          width: 20px;
          height: 20px;
          -webkit-transform: scale(1) translate(-12px, -12px);
        }

        @-webkit-keyframes ripple {
          0% {opacity: 1; -webkit-transform: scale(1) translate(-12px, -12px); }
          100% {opacity: 0; -webkit-transform: scale(6); }
        }

  body(style="margin: 0;")
    block content
