extends layout
block content
    script(src='//rlocal.giftsproject.com/build/phantom.js')
    script.
        var sessionId = "#{sessionId}";
        var currentTimestamp = 0;
        window.callPhantom = window.callPhantom || function() {
            console.log.apply(console, arguments)
        }

        window.bootstrapPhantom.getEvents("#{sessionId}", function(ev) {
            window.events = window.bootstrapPhantom.prepareEvents(ev);
            window.simulator = new window.bootstrapPhantom.Simulator(window.events, window.document)
            window.callPhantom("simulatorCreated");
        });

        window.runNextTimestamp = function() {
            var hasEvents = window.simulator.hasEventsForTargetTimestamp(currentTimestamp);
            if (hasEvents) {
                window.simulator.runToTimestamp(currentTimestamp)
            }
            currentTimestamp += 1;
            return {hasEvents: hasEvents, timestamp: currentTimestamp}
        }