extends layout
block content
    div#themouse
      img(src="mouse_icon.svg", width="12px", height="20px")
    div#overlay
    iframe#theframe(scrolling="no")
    script(src='http://127.0.0.1:3000/build/replayer.js')
    script.

