extends layout
block content
    div#themouse
        img(src="mouse_icon.svg", width="30px", height="25px")
    div#overlay
    iframe#theframe(scrolling="no")
    script(src='http://127.0.0.1:3000/build/replayer.js')
    script.

