extends layout

block content
  style.
    body {
      padding: 5px;
    }
    .sessionList {
      border-collapse: collapse;
    }
    .sessionList td, th {
      border: solid 1px;
      padding: 5px;
    }
  table.sessionList
    thead
      tr
        th name
        th start time
        th end time
        th session id
    tbody
      each session in sessions
        tr
          td
            a(href='/replay/' + session.id)= session.name
          td
            = session.start
          td
            = session.end
          td
            = session.id
